*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color:black;
    color: white;
    
}
.navbar{
    position:absolute;
    top: 0;
    width:100%;
    display: flex;
    justify-content:space-between;
    padding: 1% 5%;
    
}
.hero__bg__img_contener{
    width:100%;
    height:100%;
    object-fit: cover;
}
.navbar_brand{
    width:100px;
    height:100%;

}
.brand_logo{
    width:100%;
    height: 100%;

}
.Languages_drop_down{
    background: transparent;
    border: none;
    color: white;
}
.Languages_drop_down{
    outline: none;   
}
.dropdow__container{
    border: 1px solid rgb(255, 255, 255);
    padding: 0.6em;
    border-radius: 5px;
    font-size: 10px !important;

}
.signin_button{
    background-color:#E50914;
    border: 1px solid #E50914;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
}
.nav_Items{
    padding: none !important;
    display: flex;
    gap: 10px;
    
}
@media (min-width:768px) {
    

}
@media(min-width:1024px){
    .navbar{
        padding: 1% 5%;
    }
    .navbar_brand{
        width: 300px;
        height: 300px;
    }
    .signin_button{
        padding: 10px 20px;
        font-size: 50px !important;

    }
    .dropdow__container{
        padding: 15px 20px;
        font-size: 50px !important;


    }
    .nav_Items{
        gap: 50px;

    }

}
@media(min-width:1254px){

}